:root {
  --background-main-color: #1c1b29;
  --background-gradient-color: #0d0b19;
}

body {
  font-family: 'Lexend', sans-serif;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right, #0d0b19, #1c1b29 50%, #0d0b19);
  color: #222;
}

a {
  color: #0077cc;
  text-decoration: none;
}