---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Stiven Arias Portfolio">
  <h1>Hola, soy Stiven Arias</h1>
  <p>Bienvenido a mi portfolio personal.</p>
  <a href="https://github.com/starias" target="_blank" rel="noreferrer">GitHub</a>
</Layout>

